<header class="bg-dark text-white py-3">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <i class="fas fa-tools"></i> Multi-Tools
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Image Tools
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/tools/image-to-png.html">Image to PNG</a></li>
                            <li><a class="dropdown-item" href="/tools/image-to-jpg.html">Image to JPG</a></li>
                            <li><a class="dropdown-item" href="/tools/image-resizer.html">Image Resizer</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            SEO Tools
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/tools/meta-tag-generator.html">Meta Tag Generator</a></li>
                            <li><a class="dropdown-item" href="/tools/keyword-density.html">Keyword Density</a></li>
                            <li><a class="dropdown-item" href="/tools/sitemap-generator.html">Sitemap Generator</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Text Tools
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/tools/word-counter.html">Word Counter</a></li>
                            <li><a class="dropdown-item" href="/tools/case-converter.html">Case Converter</a></li>
                            <li><a class="dropdown-item" href="/tools/text-to-speech.html">Text to Speech</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/categories.html">All Categories</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search tools..." aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header> 